<h3>
    Briefing:
</h3>
<ul>
    <li>
        Erstellung einer Anzeigemöglichkeit von Webcambildern von Baustellen, die im Minutentakt Bilder aufnehmen
    </li>
    <li>
        Darstellung filterbar nach Datum
    </li>
    <li>
        Darstellung abspielbar als Zeitraffer Video
    </li>
    <li>
        Manuelle EInstellung der Frequenz des Zeitraffers
    </li>
    <li>
        Dynamische Integration der Programmierung in mehrere Baustellen (Custom Post Types)
    </li>
    <li>
        weitere Umsetzungen innerhalb dieses Auftrags
    </li>
</ul>

<div class="martop20">
    <h3>Umsetzung</h3>
    <p>
        Ich habe für diesen Auftrag ein individuelles Plugin programmiert. Die Generierung des Videos, sowie Filterbarkeit 
        konnte über einen Shortcode eingesetzt werden, der den Custom Post Type erkannt hat, in dem er eingesetzt wurde 
        und automatisch die korrekte Baustelle ausgesucht hat.
    </p>
    <p>
        Für die Darstellung der Slideshow habe ich ein Javascript Framework genutzt und das Video habe ich per PHP aus den 
        Bildern erstellt - dynamisch berechnet, je nachdem wie viele Bilder im gewählten Zeitraum vorlagen. Es war zudem 
        alles per ZIP Ordner Downloadbar und mobile optimiert.
    </p>
</div>