<h3>
    Briefing:
</h3>
<ul>
    <li>
        Integration der Racechip API in Woocommerce
    </li>
    <li>
        Auswahl der Fahrzeuge per Dropdwon - Hersteller, Modell, Motorisierung
    </li>
    <li>
        Übernahme der Preise aus der Racechip API
    </li>
</ul>

<div class="martop20">
    <h3>Umsetzung</h3>
    <p>
        Ich habe für diesen Auftrag ein individuelles Plugin programmiert. Auf der Produktseite gab es Auswahlfelder für 
        Hersteller, Marke und Motor. Die Auswahl der Fahrzeuge wurde über die Racechip API geladen.
    </p>
    <p>
        Im Warenkorb wurden die entsprechenden Merkmale für das jeweilig gewählte Chiptuning angezeigt. Ebenso wurden die 
        Merkmale im Woocommerce Backend angezeigt.
    </p>
    <p>
        Zusätzlich wurde ein Shortcode bereitgestellt, der alle Daten anzeigte und nach der Auswahl zum entsprechenden 
        Produkt linkte.
    </p>
</div>