<h3>
    Briefing:
</h3>
<ul>
    <li>
        Erstellung eines PDFs für die Produktion mit allen Daten der Produkte individuell angeordnet
    </li>
    <li>
        Erstellung einer Auftragsbestätigung mit Zusammenfassung der Produkte auf individuelle Art und Weise
    </li>
    <li>
        Erstellung eines Lieferscheins mit Zusammenfassung der Produkte auf individuelle Art und Weise
    </li>
    <li>
        Automatischer Versand des Werkstattauftrags per E-Mail
    </li>
    <li>
        Möglichkeit den Lieferschein und die Auftragsbestätigung an Woocommerce E-Mails anzuhängen
    </li>
    <li>
        weitere Umsetzungen innerhalb dieses Auftrags
    </li>
</ul>

<div class="martop20">
    <h3>Umsetzung</h3>
    <p>
        Ich habe für diesen Auftrag ein individuelles Plugin programmiert. Für die Generierung der PDFs (Werkstattauftrag, Lieferschein, 
        Auftragsbestätigung) habe ich die bereits mit German Market eingebundene Libary "DOMPDF" genutzt. Die PDFs wurden 
        nach Kundenwunsch generiert ohne auf dem Server gespeichert zu werden. Der Kunde konnte selbst im Woocommerce 
        Backend auswählen, wann und ob die PDFs versendet werden sollen. So konnte der Kunde selbst Änderungen vornehmen.
    </p>
    <p>
        Zudem gab es auf der Bestellung Bearbeiten Seite die Möglichkeit den Werkstattauftrag manuell zu versenden, sowie 
        die entsprechenden PDFs anzusehen oder herunterzuladen. Der Versand des Werkstattauftrags wird zusätzlich 
        in den Order Notes gespeichert.
    </p>
</div>