<h3>
    Briefing:
</h3>
<ul>
    <li>
        Erstellung von individuellen Konfiguratoren für Aufkleber
    </li>
    <li>
        Individuelle Preisberechnung
    </li>
    <li>
        Suche nach Größe und Form kategorieübergreifend
    </li>
    <li>
        Bearbeitung im Warenkorb
    </li>
    <li>
        Dateiupload
    </li>
</ul>

<div class="martop20">
    <h3>Umsetzung</h3>
    <p>
        Ich habe für diesen Auftrag ein individuelles Plugin programmiert, indem Preisberechnung und überschreibende 
        Templates für das Theme abliegen. Dabei wurde das Theme Flatsome an mehreren Stellen überschrieben, sodass 
        die Kategorien wie gewünscht dargestellt werden.
    </p>
    <p>
        Sämtliche Anpassungen in der Preisberechnung können direkt im Woocommerce Backend ohne Programmierkenntnisse 
        vorgenommen werden. Selbstverständlich ist alles ebenfalls auf dem Smartphone bestens nutzbar.
    </p>
</div>