<h3>
    Ziel des Plugins
</h3>
<p>
    Eine einfache Möglichkeit zu geben Webanalytics einsehen zu können ohne einen Fremddienst einzubinden. Simplest Analytics 
    setzt keine Cookies und speichert Daten anonym auf dem eigenen Server.
</p>

<h3>Was sind die Hauptfeatures:</h3>
<p>
- Seitenauftrufe und Nutzer messen<br>
- Infos zu den einzelnen Seiten erhalten<br>
- Sehen, wo der Traffic herkommt (z.B. Google, Facebook, andere Seiten)<br>
- Details zu Woocommerce Verkäufen erhalten<br>
- Benutzerdefinierte Events, wie Klicks auf Buttons messen<br>
- URL Parameter tracken wie z.B. your-site.com/?campaign=whatever
</p>

<h3>Wie kann ich das Plugin nutzen?</h3>
<p>
Du kannst es direkt im WordPress Backend herunterladen. Suche einfach nach "Simplest Analytics" und installiere und aktiviere es.
</p>